*{
    margin: 0;
    padding: 0%;
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .foto2{
    margin-top: 50px;
    margin-bottom: 15px;
}
header .foto1{
    margin-top: 16px;
    margin-bottom: 60px;
}
header nav {
    width: 1110px;
    display: flex;


}
header nav ul{
    width: 1110px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-bottom: 50px;
}
header nav ul li a{
    font-weight: 600px;
    font-size: 18px;
    color: #bab9b9;
    translate: 300ms;
    text-decoration: none;
   
}
header nav ul li a:hover{
    color: #4581b7;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid #4581b7;
    padding-bottom: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
}
section {
    display: flex;
    flex-direction: column;
    
}
section .tepa{
    display: flex;
    justify-content: center;

}
section .tepa img{
    width: 1110px;
    height: 500px;
    display: flex;
    justify-content: center; 
    box-sizing: border-box;   
}
section .past {
    width: 1110px;
    height: 500px;
    display: flex;
    justify-content: center;
    margin-left: 94px;
    margin-top: 30px;
    
    
    
}
section .past .chap{
    width: 730px;
    height: 500px;
    background: #f0f0f0;
    margin-right: 30px;
}
section .past .ong{
    width: 350px;
    height: 500px;
    background: #f0f0f0;
}
section .past h2{
    font-family: Verdana,  Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #4581b7;
    padding-top: 50px;
    padding-left: 40px;
}
section .past p{
    font-size: 16px;
    font-weight: 400px;
    color: #7f7f7f;
    line-height: 27px;
    padding: 40px;
}
span{
    font-size: 20px;
    font-weight: 600;
}
footer {
    
    display: flex;
    justify-content:center
    
}
footer .box{
    width: 1110px;
    height: 150px;
    background:  #f0f0f0;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
footer .box .foto{
    display: flex;
    align-items: center;
}
footer .box .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer .box .text h2{
    font-size: 18px;
    font-weight: 500;
    font-family: Verdana, Tahoma, sans-serif;
    color: #808080;
}
footer .box .text p{
    font-size: 25px;
    font-weight: 700;
}